#container-about {
    margin-top: 80px;
    display: flex;
    width: 500px;
    border-radius: 12px;
    background-color: $white;
    margin: 40px auto 0;
    height: 500px;
    flex-direction: row;
    color: $grey2;
    justify-content: space-between;
    padding: 0 80px;
    text-align: center;
}

#container-about h2 {
    color: $purple6;
}

#logo-efrei {
    position: absolute;
    top: 350px;
    left: 475px;
}
