#container-full-home {
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $white;
}

#container-home {
    width: 900px;
    margin: auto;
    padding: 10px 0;
    background-color: $purple5;
    opacity: 0.95;
    font-size: 48px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#container-profil-about-select {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#container-profil-select,
#container-about-select {
    width: 450px;
    padding: 100px 0;
    opacity: 0.8;
    transition: opacity 1s ease;
}

#container-profil-select {
    background-color: $orange1;
    border-bottom-left-radius: 12px;
}

#container-profil-select:hover {
    background-color: $orange2;
    opacity: 0.95;
}

#container-about-select {
    background-color: $green1;
    border-bottom-right-radius: 12px;
}

#container-about-select:hover {
    background-color: $green2;
    opacity: 0.95;
}
