#container-full-home {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $white;
}

#container-home {
    width: 900px;
    margin: auto;
    padding: 40px 0;
    background-color: $purple5;
    opacity: 0.95;
    font-size: 48px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#container-profil-about {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#container-profil,
#container-about {
    width: 450px;
    padding: 100px 0;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

#container-profil {
    background-color: $orange1;
    border-bottom-left-radius: 12px;
}

#container-profil:hover {
    opacity: 0.95;
}

#container-about {
    background-color: $green1;
    border-bottom-right-radius: 12px;
}

#container-about:hover {
    opacity: 0.95;
}
