$purple1: #eef1ff;
$purple2: #d2daff;
$purple3: #b1b2ff;
$purple4: #aac4ff;
$purple5: #9899ff;

$purple6: #d67bff;

$orange1: #ffcaa7;
$orange2: #ffbb8e;

$green1: #bde9a8;
$green2: #aee494;

$grey1: #777777;
$grey2: #5a5a5a;

$white: white;

body {
    background-color: $purple2;
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 600;
    color: $white;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.button {
    border: none;
    border-radius: 12px;
    padding: 15px;
    background-color: $purple5;
    color: $white;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 80px;
}

.orange {
    background-color: $orange2 !important;
}

.green {
    background-color: $green2 !important;
}
