#container-login {
    margin-top: 80px;
    position: absolute;
    left: calc(50% - 450px);
    height: 400px;
    display: flex;
    flex-direction: row;
    color: $grey2;
    text-align: center;
}

#container-login-image {
    width: 450px;
    background-color: $purple5;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#container-login-input {
    width: 450px;
    background-color: $white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.colored-text {
    font-size: 18px;
}

.grey-text {
    color: $grey2;
}

.purple-text {
    color: $purple6;
}

.input-field {
    width: 200px;
    border: none;
    border-bottom: 2px solid $purple3;
}

.input-field:focus {
    outline: none;
}

#login-form,
#register-form {
    margin-top: 80px;
}

#register-link,
#login-link {
    font-size: 11px;
    text-decoration: underline;
    margin-right: 120px;
    cursor: pointer;
}
