table {
    border-collapse: collapse;
    margin: 20px auto;
    color: $grey2;
}

.table-col-projects {
    background-color: $purple4;
}

.table-col-tasks {
    background-color: $green1;
}

th {
    width: 200px;
}

th,
td {
    border: 1px solid $purple5;
    padding: 10px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: $white;
}
tr:nth-child(even) {
    background-color: $purple1;
}

#container-form {
    margin: 40px auto;
    background-color: $white;
    width: 300px;
    color: $grey2;
    border-radius: 12px;
    text-align: center;
    padding: 20px 0;
}

#add-project {
    margin-top: 40px;
}

.center-button {
    margin-left: calc(50% - 60px);
}

.title-table {
    background-color: $purple6;
    width: 150px;
    border: none;
    border-radius: 12px;
    padding: 16px 0;
    margin-left: calc(50% - 75px);
    color: $white;
}
